
services:
  postgres:
    image: postgres:17.6-alpine3.22
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - shotel_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: docker/Dockerfile.dev
    env_file:
      - .env
    environment:
      DATABASE_URL: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
      JPA_SHOW_SQL: "true"
      LOG_LEVEL: DEBUG
    ports:
      - "8080:8080"
    volumes:
      - ./backend:/app
      - /app/.gradle
      - /app/build
    depends_on:
      - postgres

  frontend:
    build:
      context: ./frontend
      dockerfile: docker/Dockerfile.dev
    env_file:
      - .env
    environment:
      NEXT_PUBLIC_API_URL: http://localhost:8080
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    depends_on:
      - backend

volumes:
  shotel_data: